<div class="container">
  <div class="row well well-lg">
  <h2>Confirmations</h2>
    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="hawaii" class="confirmation">
        <h3>Hawaiian Vacation</h3>
        <p><small><em>Paid $399.99 on January 14, 2013</em></small></p>
        <button class="btn btn-small btn-primary flight-details">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>

    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="paris" class="confirmation">
        <h3>Paris Vacation</h3>
        <p><small><em>Paid $1399.99 on January 14, 2013</em></small></p>
        <button class="btn btn-small btn-primary flight-details">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>

    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="london" class="confirmation">
        <h3>London Vacation</h3>
        <p><small><em>Paid $1,199 on December 28, 2013</em></small></p>
        <button class="btn btn-small btn-primary flight-details">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well well-lg">
<<<<<<< HEAD
  <h2>Photos</h2>
    <div id="hawaii" class="col-md-4 pictures" data-location="hawaii">
      <button class="btn btn-small btn-success pics">Hawaii Photos</button>
      <ul class="photos">

      </ul>
    </div>

    <div id="paris" class="col-md-4 pictures" data-location="paris">
      <button class="btn btn-small btn-success pics">Paris Photos</button>
      <ul class="photos">

      </ul>
    </div>

    <div id="london" class="col-md-4 pictures" data-location="london">
      <button class="btn btn-small btn-success pics">London Photos</button>
      <ul class="photos">

      </ul>
    </div>

    <h2>jQuery Travels - Trip Booker</h2>
      <div class="col-md-3 col-md-offset-5">
    <div id="vacation">
    <form action='/assets/book.json'>

    <div class="form-group">
       <label for="destination"> Destination</label>
       <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="destination" name="destination" data-toggle="dropdown" aria-expanded="true">
          Select a Destination
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"  role="menu" aria-labelledby="destination">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hawaii</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Paris</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">London</a></li>
        </ul>
      </div>
    </div>
  <div class="form-group">
    <label for="quantity">Tickets </label>
    <input type="text" class="form-control" id="quantity" name="quantity" value="1">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success">Book Flight</button>
  </div>
</form>
</div>
  <p>Call us at 555-25937 to make a reservation today!</p>
      </div>
  </div>
</div>
