<div class="container">
  <div class="row well well-lg">
  <h2>Confirmations</h2>
    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="hawaii" class="confirmation">
        <h3>Hawaiian Vacation</h3>
        <p><small><em>Paid $399.99 on January 14, 2013</em></small></p>
        <button class="btn btn-small btn-primary flight-details">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>

    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="paris" class="confirmation">
        <h3>Paris Vacation</h3>
        <p><small><em>Paid $1399.99 on January 14, 2013</em></small></p>
        <button class="btn btn-small btn-primary flight-details">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>

    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="london" class="confirmation">
        <h3>London Vacation</h3>
        <p><small><em>Paid $1,199 on December 28, 2013</em></small></p>
        <button class="btn btn-small btn-primary flight-details">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well well-lg">
  <h2>Photos</h2>
    <div id="hawaiiPics" class="col-md-4 pictures" data-location="hawaii">
      <button class="btn btn-small btn-success pics">Hawaii Photos</button>
      <ul class="photos">

      </ul>
    </div>

    <div id="parisPics" class="col-md-4 pictures" data-location="paris">
      <button class="btn btn-small btn-success pics">Paris Photos</button>
      <ul class="photos">

      </ul>
    </div>

    <div id="londonPics" class="col-md-4 pictures" data-location="london">
      <button class="btn btn-small btn-success pics">London Photos</button>
      <ul class="photos">

      </ul>
    </div>
</div>
</div>

<div class="container">
  <div class="row well well-lg">
    <h2>jQuery Travels - Trip Booker</h2>
      <div class="col-md-3 col-md-offset-5">
    <div id="vacation">
    <form action='/flights/book.json'>

    <div class="form-group">
       <label for="destination"> Destination</label>
       <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="destination" name="destination" data-toggle="dropdown" aria-expanded="true">
          Select a Destination
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"  role="menu" aria-labelledby="destination">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hawaii</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Paris</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">London</a></li>
        </ul>
      </div>
    </div>
  <div class="form-group">
    <label for="quantity">Tickets </label>
    <input type="text" class="form-control" id="quantity" name="quantity" value="1">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success">Book Flight</button>
  </div>
</form>
</div>
  <p>Call us at 555-25937 to make a reservation today!</p>
      </div>
  </div>
</div>

<div class="container">
  <div class="row well well-lg">
  <div>
  <h2>Favorites</h2>
  <button class="btn btn-small btn-primary show_fav">Display Favorite</button>
  </div>
    <div class="favorite-0 col-md-4">
      <h3>Favorite 0</h3>
      <img src="" class="fav_img">
      <p class="fav_descrip"></p>
    </div>
    <div class="favorite-1 col-md-4">
      <h3>Favorite 1</h3>
      <img src="" class="fav_img">
      <p class="fav_descrip"></p>
    </div>
    <div class="favorite-2 col-md-4">
      <h3>Favorite 2</h3>
      <img src="" class="fav_img">
      <p class="fav_descrip"></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well well-lg">
  <div>
  <h2>Status</h2>
  <button class="btn btn-small btn-warning update-status">Get Flight Statuses</button>
  </div>
    <div class="col-md-12 status">
      <ul class="status-list">

      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well well-lg">
  <div>
  <h2>Prices</h2>
  </div>
    <div class="col-md-4 vacation" data-price=400>
      <h3>Hawaiian Vacation</h3>
      <button class="btn btn-small btn-danger ">Show Price</button>
      <br/>
      <a href="#" class="remove-vacation">Not Interested</a>
    </div>
    <div class="col-md-4 vacation" data-price=1300>
      <h3>European Getaway</h3>
      <button class="btn btn-small btn-danger ">Show Price</button>
      <br/>
      <a href="#" class="remove-vacation">Not Interested</a>
    </div>
    <div class="col-md-4 vacation" data-price=100>
      <h3>Visit Japan</h3>
      <button class="btn btn-small btn-danger ">Show Price</button>
      <br/>
      <a href="#" class="remove-vacation">Not Interested</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button class="btn btn-small btn-primary show-prices">Show All Prices</button>
    </div>
  </div>
</div>
