<div class="container">
  <div class="row well well-lg">
  <h2>Confirmations</h2>
    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="hawaii" class="confirmation">
        <h3>Hawaiian Vacation</h3>
        <p><small><em>Paid $399.99 on January 14, 2013</em></small></p>
        <button class="btn btn-small btn-primary">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>

    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="paris" class="confirmation">
        <h3>Paris Vacation</h3>
        <p><small><em>Paid $1399.99 on January 14, 2013</em></small></p>
        <button class="btn btn-small btn-primary">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>

    <div class="col-md-4 flight-info">
    <ul class="flight-listing">
      <li id="london" class="confirmation">
        <h3>London Vacation</h3>
        <p><small><em>Paid $1,199 on December 28, 2013</em></small></p>
        <button class="btn btn-small btn-primary">Flight details</button>
        <div class="ticket" data-confNum='1234'></div>
      </li>
    </ul>
    </div>
  </div>
</div>
